@model AcunMedyaPortfolioProject.Models.Introduction

@{
    ViewBag.Title = "UpdateIntroduction";
}

<h2>Giriş Güncelle</h2>

<div class="container">
    <form method="post">
        <label>Başlık</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label>Açıklama</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        <br />
        <button class="btn btn-info ">Giriş Bilgisini Güncelle</button>
    </form>

</div>
