@model AcunMedyaPortfolioProject.Models.Expertise

@{
    ViewBag.Title = "CreateExpertise";
}

<h2>Uzmanlık Bilgisi Ekle</h2>

<div class="container">
    <form method="post">
        <label>Uzmanlık Adı</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        


        <button class="btn btn-info ">Uzmanlık Bilgisini Kaydet</button>
    </form>

</div>