@model AcunMedyaPortfolioProject.Models.Expertise

@{
    ViewBag.Title = "UpdateExpertise";
}

<h2>Uzmanlık Bilgisi Güncelleme Sayfası</h2>

<div class="container">
    <form method="post">
        @Html.HiddenFor(x => x.Id)
        <label>Uzmnalık Adı</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        

        <button class="btn btn-info ">Uzmanlık Bilgisini Güncelle</button>
    </form>

</div>